<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders> <!-- Onde os logs aparecem -->
        <Console name="Console" target="SYSTEM_OUT"> <!-- Mostra os logs no terminal -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers> <!-- O que será registrado -->
        <Root level="info"> <!-- Registrar tudo a partir do nível 'info' -->
            <AppenderRef ref="Console" /> <!-- Usa o appender Console -->
        </Root>
    </Loggers>
</Configuration>